[flake8]
jobs = auto
max-line-length = 100
ignore = E266, W503, E203
exclude =
    .git,
    pip_cache,
    pipenv_cache,
    .venv,
    .tox,
    __pycache__
    .venv
# F, B - pyflakes and flake8-bugbear
# B901 - return with value inside generator function.
select = E,F,B,B901,W
max-complexity = 15
output-file = .flake8.log
