# Example configuration for Black.

# NOTE: you have to use single-quoted strings in TOML for regular expressions.
# It's the equivalent of r-strings in Python.  Multiline strings are treated as
# verbose regular expressions by Black.  Use [ ] to denote a significant space
# character.
[tool.poetry]
name = "cimsparql"
version = "1.9.1"
description = "CIM query utilities"
readme = "README.md"
authors = ["Statnett Datascience <Datascience.Drift@Statnett.no>"]
repository = "https://github.com/statnett/cimsparql.git"

[tool.poetry.dependencies]
python = "^3.9"
numpy = "*"
pandas = "*"
tables = "*"
networkx = "*"
SPARQLWrapper = "*"
requests = "*"
pendulum = {version = "*", optional = true}
lxml = {version = "*", optional = true}
defusedxml = {version = "*", optional = true}

[tool.poetry.dev-dependencies]
autopep8 = "*"
black = { version = "*", allow-prereleases = true }
coverage = { version = "*", extras = ['toml'] }
flake8 = "*"
flake8-bugbear = "*"
flake8-builtins = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-eradicate = "*"
flake8-mutable = "*"
flake8-simplify = "*"
isort = ">= 5"
lxml = "*"
mock = "*"
mypy-ls = "*"
pendulum = "*"
pre-commit = "*"
pylint = "*"
pyls-flake8 = "*"
pyls-memestra = "*"
pytest = ">= 6"
pytest-cov = "*"
pytest-integration = "*"
pytest-profiling = "*"

[tool.poetry.extras]
parse_xml = ["lxml", "defusedxml", "pendulum"]

[tool.poetry-dynamic-versioning]
enable = true
vcs = "git"
style = "semver"
pattern = "^(?P<base>\\d+\\.\\d+\\.\\d+)(-?((?P<stage>[a-zA-Z]+)\\.?(?P<revision>\\d+)?))?$"

[tool.isort]
profile = "black"
line_length = 100

[tool.black]
line-length = 100
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | profiling
)/
'''

[tool.coverage.report]
# Regexes for lines to exclude from consideration
exclude_lines = [
              "pragma: no cover",
              "raise AssertionError",
              "raise NotImplementedError",
              "if verbose:",
              "if 0:",
              "if False:",
              "if TYPE_CHECKING:",
              ]
skip_covered = true
show_missing = true
precision = 2

[tool.coverage.run]
branch = true
source = ["cimsparql",  "conftest", "tests"]

[tool.pytest.ini_options]
log_file = "pytest.log"
log_level = "DEBUG"
log_file_format = "%(asctime)s - %(name)s - %(levelname)s: %(message)s"
norecursedirs = "_build tmp*  __pycache__ src prof wheel_files"
markers = [
  "integration: Mark test as an integration test",
]
filterwarnings = [
  "ignore: defusedxml.lxml is no longer supported and will be removed"
]


[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry.core.masonry.api"
