---
name: Deploy to PyPI

on:
  workflow_call:
    inputs:
      build_docs:
        required: false
        type: boolean
        default: false

jobs:
  build_and_publish_pypi:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'statnett'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: build package
        run: uv build
      - name: Publish package distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1.12
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: 'true'
          attestations: 'false'
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.12
        with:
          verbose: 'true'
          attestations: 'false'
  build_docs:
    needs: build_and_publish_pypi
    runs-on: ubuntu-latest
    if: github.repository_owner == 'statnett' && inputs.build_docs == 'true'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: build docs
        run: uvx --with cimsparql --with sphinx-autodoc-typehints --with recommonmark --with sphinx-rtd-theme --from sphinx sphinx-build docs html
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: html

  # Deployment job
  deploy_docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build_docs
    if: inputs.build_docs == 'true'
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
